<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/sketchy/bootstrap.min.css">

  <title>Edit Trainer</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
  <div class="row m-4">
    <div class="col text-center">
      <a href="/" class="h3">Pokemon Care Organization</a>
    </div>
  </div>

  <div class="row m-4 border border-primary">
    <div class="col text-center m-3">
      <a href="pokemons" class="btn btn-outline-primary">Pokemon</a>
    </div>
    <div class="col text-center m-3">
      <a href="trainers" class="btn btn-outline-primary">Trainers</a>
    </div>
    <div class="col text-center m-3">
      <a href="pokemonTypes" class="btn btn-outline-primary">Pokemon Types</a>
    </div>
    <div class="col text-center m-3">
      <a href="pokemonCenters" class="btn btn-outline-primary">Pokemon Center</a>
    </div>
    <div class="col text-center m-3">
      <a href="healthRecords" class="btn btn-outline-primary">Health Records</a>
    </div>
  </div>

  <div class="row m-4 border border-primary">
    <div class="col-12 text-center m-3">
      <span class="h3">Edit Trainer</span>
    </div>
    <div class="col text-center m-3">
      <form id="trainerForm" action="/editTrainer" method="POST">
        <div class="form-group row">
          <label for="name" class="col-5 col-form-label text-right font-weight-bold">Trainer Name:</label>
          <div class="col-7">
            <input type="text" name="name" id="name" class="form-control" th:value="${trainer.name}" />
            <div th:if="${#fields.hasErrors('trainer.name')}">
              <p th:each="error : ${#fields.errors('trainer.name')}" class="alert alert-danger" th:text="${error}"></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="age" class="col-5 col-form-label text-right font-weight-bold">Age:</label>
          <div class="col-7">
            <input type="text" name="age" id="age" class="form-control" th:value="${trainer.age}" />
            <div th:if="${#fields.hasErrors('trainer.age')}">
              <p th:each="error : ${#fields.errors('trainer.age')}" class="alert alert-danger" th:text="${error}"></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-5 col-form-label text-right font-weight-bold">Email:</label>
          <div class="col-7">
            <input type="text" name="email" id="email" class="form-control" th:value="${trainer.email}" />
            <div th:if="${#fields.hasErrors('trainer.email')}">
              <p th:each="error : ${#fields.errors('trainer.email')}" class="alert alert-danger" th:text="${error}"></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
        <label for="pokemons" class="col-5 col-form-label text-right font-weight-bold">Pokemons:</label>
        <div class="col-7">
          <select id="pokemons" name="pokemons" class="form-control" multiple="multiple">
            <option th:each="pokemon : ${pokemons}"
                    th:value="${pokemon.id}"
                    th:text="${pokemon.name}"
                    th:selected="${trainer.pokemons.contains(pokemon)}">
            </option>
          </select>
          <div th:if="${#fields.hasErrors('pokemons')}">
            <p th:each="error : ${#fields.errors('pokemons')}" class="alert alert-danger" th:text="${error}">
            </p>
          </div>
        </div>
    </div>


        <input type="hidden" name="id" th:value="${trainer.id}" />
        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a href="trainers" class="btn btn-outline-secondary">Cancel</a>
      </form>
    </div>
  </div>

</div>
<!-- End main body -->

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
